<h2>{{title}}</h2>
<div class="question-edit">
    <div>
        <label for="text">Question text:</label>
        <br />
        <textarea id="text" [(ngModel)]="question.Text" placeholder="enter a suitable text..."></textarea>
    </div>
    <div>
        <input *ngIf="editMode" type="button" value="Apply Changes" (click)="onSubmit(question)" />
        <input *ngIf="!editMode" type="button" value="Create the Question!" (click)="onSubmit(question)" />
        <input type="button" value="Cancel" (click)="onBack()" />
    </div>

    <answer-list *ngIf="editMode" [question]="question"></answer-list>

</div>
